<div>Cart id: <%= @cart.id %></div>

<table>
  <tr>
    <th>Good</th>
    <th>Price</th>
    <th>Count</th>
  </tr>
  <% @cart.items.each do |item_count| %>
    <tr>
      <td><%= item_count.offer.good.name %></td>
      <td><%= item_count.offer.human_price %></td>
      <td><%= item_count.human_count %></td>
    </tr>
  <% end %>
</table>

<hr>

<h3>Api</h3>

<h4>Get declarations</h4>
<% url = '/api/v1/catalog' %>
<div class="js-context">
  <p>
    <span>GET <%= url %></span>
    <button class="js-get-button" data-method="GET" data-url="<%= url %>">Try it now</button>
  </p>
  <div class="outlined-result js-get-result"></div>
</div>

<h4>Get cart</h4>
<% url = '/api/v1/cart' %>
<div class="js-context">
  <p>
    <span>GET <%= url %></span>
    <button class="js-get-button" data-method="GET" data-url="<%= url %>">Try it now</button>
  </p>
  <div class="outlined-result js-get-result"></div>
</div>