<div>Cart id: <%= @cart.id %></div>

<table>
  <tr>
    <th>Good</th>
    <th>Price</th>
    <th>Count</th>
  </tr>
  <% @cart.items.each do |item_count| %>
    <tr>
      <td><%= item_count.offer.good.name %></td>
      <td><%= item_count.offer.human_price %></td>
      <td><%= item_count.human_count %></td>
    </tr>
  <% end %>
</table>

<hr>

<h3>Api</h3>

<h4>Get declarations</h4>
<% url = '/api/v1/catalog' %>
<div class="js-context">
  <pre>GET <%= url %></pre>
  <button class="js-get-button" data-method="GET" data-url="<%= url %>">Try it now</button>
  <pre class="js-get-result"></pre>
</div>

<h4>Get cart</h4>
<% url = '/api/v1/cart' %>
<div class="js-context">
  <pre>GET <%= url %></pre>
  <button class="js-get-button" data-method="GET" data-url="<%= url %>">Try it now</button>
  <pre class="js-get-result"></pre>
</div>

<h4>Set items count in cart</h4>
<% url = '/api/v1/cart/item' %>
<div class="js-context">
  <pre>
PUT /api/v1/cart/item
{
    offer_id: %offer_id%
    count: %count%
}
</pre>
  Good id: <input type="text" size="5" name="good_id" class="js-input-good-id">
  Unit id: <input type="text" size="5" name="unit_id" class="js-input-unit-id">
  Count: <input type="text" size="5" name="count" class="js-input-count">
  <button class="js-put-cart-item-button" data-method="PUT" data-url="<%= url %>">Try it now</button>
  <pre class="js-put-result"></pre>
</div>

<h4>Delete items in cart</h4>
<% url = '/api/v1/cart/items' %>
<div class="js-context">
  <pre>DELETE <%= url %></pre>
  <button class="js-delete-button" data-method="DELETE" data-url="<%= url %>">Try it now</button>
  <pre class="js-delete-result"></pre>
</div>