<!DOCTYPE html>
<html>
  <head>
    <title>CIOSensorRailsCart</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <div class="row">
        <div class="col-sm">
          <%= !current_page?('/admin') ? link_to('Admin zone', '/admin') : 'Admin zone' %>
          <%= !current_page?('/') ? link_to('Customer zone', '/') : 'Customer zone' %>
        </div>
      </div>
      <div class="row">
        <div class="col-sm">
          <%= yield %>
        </div>
      </div>
    </div>
  </body>
</html>
